.horizontal-line {
  width: 30px;
  height: 2px;
  margin: 0 4px;
  border-radius: 10px;
  background-color: transparent;
}

.horizontal-wrapper {
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.horizontal-wrapper:hover {
  .horizontal-line {
    height: 4px;
    background: linear-gradient(to right, #ff8008, #ffc837);
  }
}

.vertical-line {
  width: 2px;
  height: 30px;
  margin: 4px 0;
  border-radius: 10px;
  background-color: transparent;
}

.vertical-wrapper {
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vertical-wrapper:hover {
  .vertical-line {
    width: 4px;
    background: linear-gradient(to right, #ff8008, #ffc837);
  }
}
