.horizontalLine {
  width: 30px;
  height: 2px;
  margin: 0 4px;
  border-radius: 10px;
  background-color: transparent;
}

.horizontalWrapper {
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.horizontalWrapper:hover {
  :not(.connected).horizontalLine {
    height: 4px;
    background: linear-gradient(to right, #ff8008, #ffc837);
  }
}

.verticalLine {
  width: 2px;
  height: 30px;
  margin: 4px 0;
  border-radius: 10px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.verticalWrapper {
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.verticalWrapper:hover {
  :not(.connected).verticalLine {
    width: 4px;
    background: linear-gradient(to right, #ff8008, #ffc837);
  }
}

.partOfBox {
  background: linear-gradient(to right, #5a3f37, #2c7744);
}

.connected {
  &:not(.partOfBox) {
    background: linear-gradient(to right, #ff8008, #ffc837);
  }

  &.horizontalLine {
    height: 4px;
  }

  &.verticalLine {
    width: 4px;
  }
}

.flashing {
  animation: flash 1s infinite;
}

@keyframes flash {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
