.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.blink {
  &:not(.part-of-box) {
    background: linear-gradient(to right, #ff4e50, #f9d423);
  }
}

.part-of-box {
  background-color: red;
}

.dot {
  &:not(.blink):not(.part-of-box) {
    background: linear-gradient(to right, #d7dde8, #757f9a);
  }
}
